/problema1/Terreno/nbproject/private/
/problema1/Terreno/build/
/problema2/EquivalenteHoras/nbproject/private/
/problema2/EquivalenteHoras/build/
/problema3/Institucion/nbproject/private/
/problema3/Institucion/build/
/problema4/Celular/nbproject/private/
/problema4/Celular/build/
